# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, on every push
# to the master branch.
#
# To use this workflow, you will need to complete the following set-up steps:
#
# 1. Create an ECR repository to store your images.
#    For example: `aws ecr create-repository --repository-name my-ecr-repo --region us-east-2`.
#    Replace the value of `ECR_REPOSITORY` in the workflow below with your repository's name.
#    Replace the value of `aws-region` in the workflow below with your repository's region.
#
# 2. Create an ECS task definition, an ECS cluster, and an ECS service.
#    For example, follow the Getting Started guide on the ECS console:
#      https://us-east-2.console.aws.amazon.com/ecs/home?region=us-east-2#/firstRun
#    Replace the values for `service` and `cluster` in the workflow below with your service and cluster names.
#
# 3. Store your ECS task definition as a JSON file in your repository.
#    The format should follow the output of `aws ecs register-task-definition --generate-cli-skeleton`.
#    Replace the value of `task-definition` in the workflow below with your JSON file's name.
#    Replace the value of `container-name` in the workflow below with the name of the container
#    in the `containerDefinitions` section of the task definition.
#
# 4. Store an IAM user access key in GitHub Actions secrets named `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
#    See the documentation for each action used below for the recommended IAM policies for this IAM user,
#    and best practices on handling the access key credentials.

on:
  release:
    types: [created]
  push:
    branches:
      - tw-270-releases

name: Release

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js v10
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: yarn install, lint and test
        run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn test
  build:
    needs: test
    
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build image
      id: build-image
      run: |
        docker build -t kilt/demo-services .
        mkdir -p /tmp/cache
        docker save -o /tmp/cache/demo-services.tar kilt/demo-services

    - name: Cache image
      uses: actions/cache@v1
      with:
        path: /tmp/cache
        key: ${{ runner.os }}-demo-services-${{ github.sha }}
  push:
    needs: build

    name: Push to ECR
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    
    - name: Check for existence of tag
      run: |
        IMAGE_TAG=$(sed -n 's/.*"version": "\(.*\)",/\1/p' package.json)
        ./checkForTagOnAws.sh kilt/prototype-services $IMAGE_TAG

    - name: Cache image
      uses: actions/cache@v1
      with:
        path: /tmp/cache
        key: ${{ runner.os }}-demo-services-${{ github.sha }}

    - name: Load image
      run: |
        docker load -i /tmp/cache/demo-services.tar

    - name: Tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: kilt/prototype-services
      run: |
        # Build a docker container and
        # push it to ECR
        IMAGE_TAG=$(sed -n 's/.*"version": "\(.*\)",/\1/p' package.json)
        docker tag kilt/demo-services $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker tag kilt/demo-services $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        # docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

  pushDocker:
    needs: build

    name: Push to Docker
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Check for existence of tag
      run: |
        IMAGE_TAG=$(sed -n 's/.*"version": "\(.*\)",/\1/p' package.json)
        ./checkForTagOnDocker.sh kilt/prototype-services $IMAGE_TAG
    
    - name: Login to docker
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      run: |
        echo $DOCKER_PASS | docker login --username=$DOCKER_USER --password-stdin

    - name: Cache image
      uses: actions/cache@v1
      with:
        path: /tmp/cache
        key: ${{ runner.os }}-demo-services-${{ github.sha }}

    - name: Load image
      run: |
        docker load -i /tmp/cache/demo-services.tar

    - name: Tag, and push image to Amazon ECR
      id: build-image
      env:
        DOCKER_REPOSITORY: kiltprotocol/demo-services
      run: |
        IMAGE_TAG=$(sed -n 's/.*"version": "\(.*\)",/\1/p' package.json)
        docker tag kilt/demo-services $DOCKER_REPOSITORY:latest
        docker tag kilt/demo-services $DOCKER_REPOSITORY:$IMAGE_TAG
        docker push $DOCKER_REPOSITORY:$IMAGE_TAG
        docker push $DOCKER_REPOSITORY:latest
