name: Lint and Test

on:
  push:
    branches: 
      - develop
      - master
    tags:
      - '*'
  pull_request:
    branches: 
      - develop
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: https://npm.pkg.github.com
        scope: '@kiltprotocol'
    - name: yarn install, lint, test and build
      run: |
        yarn upgrade --scope @kiltprotocol --latest
        yarn lint
        yarn test
        yarn build
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  integration-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 10
      uses: actions/setup-node@v1
      with:
        node-version: 10
        registry-url: https://npm.pkg.github.com
        scope: '@kiltprotocol'
    - name: yarn install, lint, test and build
      run: |
        yarn upgrade --scope @kiltprotocol --latest
        yarn test:e2e
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
